@* File: EnrollmentSystem.UI/Views/Student/Calendar.cshtml *@
@model EnrollmentSystem.UI.ViewModels.CalendarViewModel
@{
    ViewData["Title"] = "Calendar";
}
<h1 class="page-title">My Calendar</h1>
<partial name="_MonthCalendar" model="Model" />